.footer {
    background-image: url('../../assets/img/footer.png');
    background-size: cover;
    background-position: center;
    min-height: 150px;
    padding-top: 1rem;
}

.footer__link--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
}

.footer__credits {
    text-align: right;
    font-size: 1.325rem;
    color: #b5b5b5;
}

@media screen and (max-width: 767px) {
    .footer__link svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        min-height: 300px;
    }

    .footer__link--box {
        max-width: 250px;
        margin-left: unset;
    }
}
